<br/>
<app-search (cvSelected)="onCvSelected($event)" ></app-search>
<br/>
<div>
    <button class="btn btn-outline-info" [class.active]="currentTab === 'junior'" (click)="setTab('junior')">Juniors</button>
    <button class="btn btn-outline-info" [class.active]="currentTab === 'senior'" (click)="setTab('senior')">Seniors</button>
  </div>
  <br/>

<div class="row">
    <div *ngIf="currentTab === 'junior'">
        <app-list [cvs]="juniorCvs" (forwardCv)="onForwardCv($event)"></app-list>
      </div>
      
      <div *ngIf="currentTab === 'senior'">
        <app-list [cvs]="seniorCvs" (forwardCv)="onForwardCv($event)"></app-list>
      </div>
</div>


<div class="row">
    <app-embauche></app-embauche>
</div>